name: Build release

on: # [push] - if use this then build for each push to master
  push:
    tags: 
      - '*' # Push events to matching *, i.e. v1.0, 20.15.10

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108
    - name: Build
      run: dotnet build --configuration Release /p:AssemblyVersion=${GITHUB_REF#refs/tags/}
    - name: Test
      run: dotnet test --configuration Release
    - name: publish
      run: dotnet publish ./src/Web/Web.csproj --output ./publish --configuration Release /p:AssemblyVersion=${GITHUB_REF#refs/tags/}
    - name: Publish to Registry
      uses: LykkeBusinessPlatform/Publish-Docker-Github-Action@master
      with:
        name: lykkebusiness/service-settingsv2
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        workdir: ./publish
        # snapshot: true # use snapshot to push an additional image, which is tagged with {YEAR}{MONTH}{DAY}{HOUR}{MINUTE}{SECOND}{first 6 digits of the git sha}
        tag_names: true
